@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,900;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
:root {
    --white:#FFFFFFFF;
    --black: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);

}