.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 2.8rem;
  cursor: pointer;

  span {
    align-self: flex-end;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 12px;
  }
}
